##################################################################################################################
# This is the TF VARS file for setting up basic intranet zone with the following
# - internet ingress and egress vnet
# - intranet ingress and egress vnet
# - management vnet 
# - devops vnet
# - dns forwarding vnet 
##################################################################################################################

subscription_id = "{{ subscription_id }}"
tenant_id       = "{{ tenant_id }}"
client_id       = "{{ client_id }}"
client_secret   = "{{ client_secret }}"

##########################################
# Resource Group module
##########################################

random_string_length = {{ random_string_length}}
location             = "{{ location }}"

# Resource groups
resource_groups = {
  {% if internet_ingress_zone | trim == '1' %}
  internet_ingress_rg = {
    name = "internet_ingress_rg"
  }
  {% endif %}

  {% if internet_egress_zone | trim == '1' %}
  # optional
  internet_egress_rg = {
    name = "internet_egress_rg"
  }
  {% endif %}

  {% if intranet_ingress_zone | trim == '1' %}
  intranet_ingress_rg = {
    name = "intranet_ingress_rg"
  }
  {% endif %}

  {% if intranet_egress_zone | trim == '1' %}
  # optional
  intranet_egress_rg = {
    name = "intranet_egress_rg"
  }
  {% endif %}

  {% if workload_zone | trim == '1' %}
  workload_rg = {
    name = "workload_rg"
  }
  {% endif %}

  {% if management_zone | trim == '1' %}
  mgmt_rg = {
    name = "mgmt_rg"
  }
  {% endif %}

  {% if devops_zone | trim == '1' %}
  devops_rg = {
    name = "devops_rg"
  }
  {% endif %}

  {% if dns_forwarding_zone | trim == '1' %}
  # for on-premise GSIB to resolve private endpoints e.g. synapse web endpoint
  dns_forwarding_rg = {
    name = "dns_forwarding_rg"
  }
  {% endif %}
}

##########################################
# Network module - vnet, subnet, peering
##########################################

# Virtual networks
virtual_networks = {
  {% if internet_ingress_zone | trim == '1' %}
  # internet ingress vnet
  internet_ingress_vnet = {
    rg_key = "internet_ingress_rg"
    name   = "internet_ingress_vnet"
    address_space = ["100.0.0.0/24"]
    tags          = {
      "Compartment" = "Public (Non-GEN)"
    }
  }
  {% endif %}

  {% if internet_egress_zone | trim == '1' %}
  # internet egress vnet
  internet_egress_vnet = {
    rg_key = "internet_egress_rg"
    name   = "internet_egress_vnet"
    address_space = ["100.0.1.0/24"]
    tags          = {
      "Compartment" = "Public (Non-GEN)"
    }
  }
  {% endif %}

  {% if intranet_ingress_zone | trim == '1' %}
  # intranet ingress vnet
  intranet_ingress_vnet = {
    rg_key = "intranet_ingress_rg"
    name   = "intranet_ingress_vnet"
    address_space = ["10.0.0.0/25"]
    tags          = {
      "Compartment" = "Public (GEN)"
    }
  }
  {% endif %}

  {% if intranet_egress_zone | trim == '1' %}
  # intranet egress vnet
  intranet_egress_vnet = {
    rg_key = "intranet_egress_rg"
    name   = "intranet_egress_vnet"
    address_space = ["10.0.1.0/25"]
    tags          = {
      "Compartment" = "Public (GEN)"
    }
  }
  {% endif %}

  {% if workload_zone | trim == '1' %}
  # workload vnet
  workload_vnet = {
    rg_key = "workload_rg"
    name   = "workload_vnet"
    address_space = ["100.0.2.0/24"]
    tags          = {
      "Compartment" = "Private (Non-GEN)"
    }
  }
  {% endif %}

  {% if management_zone | trim == '1' %}
  # management vnet
  mgmt_vnet = {
    rg_key = "mgmt_rg"
    name   = "mgmt_vnet"
    address_space = ["10.0.3.0/25"]
    tags          = {
      "Compartment" = "Private (GEN)"
    }
  }
  {% endif %}

  {% if devops_zone | trim == '1' %}
  # devops vnet
  devops_vnet = {
    rg_key = "devops_rg"
    name   = "devops_vnet"
    address_space = ["100.0.3.0/24"]
    tags          = {
      "Compartment" = "Private (Non-GEN)" # can be Agency managed as well for SHIP-HATS as need to provision VPN Gateway for S2S
    }
  }
  {% endif %}

  {% if dns_zone | trim == '1' %}
  # dns vnet
  dns_forwarding_vnet = {
    rg_key = "dns_forwarding_rg"
    name   = "dns_forwarding_vnet"
    address_space = ["10.0.2.0/25"]
    tags          = {
      "Compartment" = "Public (GEN)" 
    }
  }
  {% endif %}
}

# Virtual network peerings
vnet_peers = {

  # internet ingress and workload 
  internet_ingress_workload_vnet_peer = {
    rg_key                       = "internet_ingress_rg"
    vnet_key                     = "internet_ingress_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "internet_ingress_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # internet ingress and workload 
  internet_egress_workload_vnet_peer = {
    rg_key                       = "internet_egress_rg"
    vnet_key                     = "internet_egress_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "internet_egress_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # intranet ingress and workload 
  intranet_ingress_workload_vnet_peer = {
    rg_key                       = "intranet_ingress_rg"
    vnet_key                     = "intranet_ingress_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "intranet_ingress_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # intranet egress and workload 
  intranet_egress_workload_vnet_peer = {
    rg_key                       = "intranet_egress_rg"
    vnet_key                     = "intranet_egress_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "intranet_egress_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # mgmt and internet egress 
  mgmt_internet_egress_vnet_peer = {
    rg_key                       = "mgmt_rg"
    vnet_key                     = "mgmt_vnet"
    remote_vnet_key              = "internet_egress_vnet"
    name                         = "mgmt_internet_egress_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # mgmt and workload 
  mgmt_workload_vnet_peer = {
    rg_key                       = "mgmt_rg"
    vnet_key                     = "mgmt_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "mgmt_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # devops and internet egress 
  devops_internet_egress_vnet_peer = {
    rg_key                       = "devops_rg"
    vnet_key                     = "devops_vnet"
    remote_vnet_key              = "internet_egress_vnet"
    name                         = "devops_internet_egress_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

  # devops and workload
  devops_workload_vnet_peer = {
    rg_key                       = "devops_rg"
    vnet_key                     = "devops_vnet"
    remote_vnet_key              = "workload_vnet"
    name                         = "devops_workload_vnet_peering"
    allow_virtual_network_access = "true"
    allow_forwarded_traffic      = "true"
    allow_gateway_transit        = "false"
    use_remote_gateways          = "false"
  }

}

# Subnets
subnets = {
  # /24 = 256, /25 = 128, /26 = 64, /27 = 32, /28 = 16, /29 = 8, /30 = 4, /31 = 2, /32 = 1
  # every subnet has 5 reserved IP addresses (first 4 and last 1)

  # internet ingress firewall subnet
  internet_ingress_firewall_subnet = {
    rg_key           = "internet_ingress_rg"
    vnet_key         = "internet_ingress_vnet"
    name             = "AzureFirewallSubnet"
    address_prefixes = ["100.0.0.0/27"]
  }

  # internet ingress app gw subnet
  internet_ingress_app_gw_subnet = {
    rg_key           = "internet_ingress_rg"
    vnet_key         = "internet_ingress_vnet"
    name             = "AppGwSubnet"
    address_prefixes = ["100.0.0.32/27"]
  }

  # internet ingress apim subnet
  internet_ingress_apim_subnet = {
    rg_key           = "internet_ingress_rg"
    vnet_key         = "internet_ingress_vnet"
    name             = "ApimSubnet"
    address_prefixes = ["100.0.0.64/27"]
  }

  # internet ingress egress sftp subnet
  internet_ingress_sftp_subnet = {
    rg_key           = "internet_ingress_rg"
    vnet_key         = "internet_ingress_vnet"
    name             = "SftpSubnet"
    address_prefixes = ["100.0.0.96/27"]
  }

  # internet egress firewall subnet
  internet_egress_firewall_subnet = {
    rg_key           = "internet_egress_rg"
    vnet_key         = "internet_egress_vnet"
    name             = "AzureFirewallSubnet"
    address_prefixes = ["100.0.1.0/27"]
  }

  # intranet ingress firewall subnet
  intranet_ingress_firewall_subnet = {
    rg_key           = "intranet_ingress_rg"
    vnet_key         = "intranet_ingress_vnet"
    name             = "AzureFirewallSubnet"
    address_prefixes = ["10.0.0.0/27"]
  }

  # intranet ingress app gw subnet
  intranet_ingress_app_gw_subnet = {
    rg_key           = "intranet_ingress_rg"
    vnet_key         = "intranet_ingress_vnet"
    name             = "AppGwSubnet"
    address_prefixes = ["10.0.0.32/27"]
  }

  # intranet ingress apim subnet
  intranet_ingress_apim_subnet = {
    rg_key           = "intranet_ingress_rg"
    vnet_key         = "intranet_ingress_vnet"
    name             = "ApimSubnet"
    address_prefixes = ["10.0.0.64/27"]
  }

  # intranet ingress sftp subnet
  intranet_ingress_sftp_subnet = {
    rg_key           = "intranet_ingress_rg"
    vnet_key         = "intranet_ingress_vnet"
    name             = "SftpSubnet"
    address_prefixes = ["10.0.0.96/27"]
  }

  # intranet egress firewall subnet
  intranet_egress_firewall_subnet = {
    rg_key           = "intranet_egress_rg"
    vnet_key         = "intranet_egress_vnet"
    name             = "AzureFirewallSubnet"
    address_prefixes = ["10.0.1.0/27"]
  }

  # private dns resolver inbound subnet
  private_dns_resolver_inbound_subnet = {
    rg_key           = "dns_forwarding_rg"
    vnet_key         = "dns_forwarding_vnet"
    name             = "PrivateDnsResolverInboundSubnet"
    address_prefixes = ["10.0.2.0/27"]
  }

  # private dns resolver outbound subnet
  private_dns_resolver_outbound_subnet = {
    rg_key           = "dns_forwarding_rg"
    vnet_key         = "dns_forwarding_vnet"
    name             = "PrivateDnsResolverOutboundSubnet"
    address_prefixes = ["10.0.2.32/27"]
  }

  # workload app subnet
  workload_app_subnet = {
    rg_key           = "workload_rg"
    vnet_key         = "workload_vnet"
    name             = "WorkloadAppSubnet"
    address_prefixes = ["100.0.2.0/25"]
  }

  # workload db subnet
  workload_db_subnet = {
    rg_key           = "workload_rg"
    vnet_key         = "workload_vnet"
    name             = "WorkloadDbSubnet"
    address_prefixes = ["100.0.2.128/25"]
  }

  # mgmt bastion subnet
  mgmt_bastion_subnet = {
    rg_key           = "mgmt_rg"
    vnet_key         = "mgmt_vnet"
    name             = "AzureBastionSubnet"
    address_prefixes = ["10.0.3.0/27"]
  }

  # mgmt ADDS subnet
  mgmt_adds_subnet = {
    rg_key           = "mgmt_rg"
    vnet_key         = "mgmt_vnet"
    name             = "AddsSubnet"
    address_prefixes = ["10.0.3.32/27"]
  }

  # mgmt patch subnet
  mgmt_patch_subnet = {
    rg_key           = "mgmt_rg"
    vnet_key         = "mgmt_vnet"
    name             = "PatchSubnet"
    address_prefixes = ["10.0.3.64/27"]
  }

  # devops subnet
  devops_subnet = {
    rg_key           = "devops_rg"
    vnet_key         = "devops_vnet"
    name             = "DevOpsSubnet"
    address_prefixes = ["100.0.3.0/27"]
  }
}

##########################################
# Route table module
##########################################

# Route tables
route_tables = {
  # workload_app_to_internet_egress_firewall_route_table = {
  #   rg_key                        = "workload_rg"
  #   name                          = "workload_app_to_internet_egress_firewall_route_table"
  #   disable_bgp_route_propagation = true
  #   routes = [
  #     {
  #       name                   = "Route-to-Firewall"
  #       address_prefix         = "0.0.0.0/0"
  #       next_hop_type          = "VirtualAppliance"
  #       next_hop_resource_type = "firewall"
  #       next_hop_resource_key  = "internet_egress_firewall"
  #     }
  #   ]
  #   tags = {}
  # }

  # mgmt_patch_to_internet_egress_firewall_route_table = {
  #   rg_key                        = "mgmt_rg"
  #   name                          = "mgmt_patch_to_internet_egress_firewall_route_table"
  #   disable_bgp_route_propagation = true
  #   routes = [
  #     {
  #       name                   = "Route-to-Firewall"
  #       address_prefix         = "0.0.0.0/0"
  #       next_hop_type          = "VirtualAppliance"
  #       next_hop_resource_type = "firewall"
  #       next_hop_resource_key  = "internet_egress_firewall"
  #     }
  #   ]
  #   tags = {}
  # }
}

# Route tables associations
route_tables_associations = {
  # workload_app_subnet_internet_egress_firewall_route_table_assoc = {
  #   subnet_key      = "workload_app_subnet"
  #   route_table_key = "workload_to_internet_egress_firewall_route_table"
  # }

  # mgmt_patch_subnet_internet_egress_firewall_route_table_assoc = {
  #   subnet_key      = "mgmt_patch_subnet"
  #   route_table_key = "mgmt_patch_to_internet_egress_firewall_route_table"
  # }
}

##########################################
# NSG module
##########################################

# Network security groups
network_security_groups = {
  workload_block_internet_nsg = {
    rg_key = "workload_rg"
    name   = "workload_block_internet_nsg"
    tags   = {}
    security_rules = [
      # inbound 
      {
        name                         = "DenyInternetInbound"
        priority                     = 4096
        direction                    = "Inbound"
        access                       = "Deny"
        protocol                     = "*"
        source_port_range            = "*"
        source_port_ranges           = [""]
        destination_port_range       = "*"
        destination_port_ranges      = [""]
        source_address_prefix        = "Internet"
        source_address_prefixes      = [""]
        destination_address_prefix   = "VirtualNetwork"
        destination_address_prefixes = [""]
      },
      # outbound
      {
        name                         = "DenyInternetOutbound"
        priority                     = 4096
        direction                    = "Outbound"
        access                       = "Deny"
        protocol                     = "*"
        source_port_range            = "*"
        source_port_ranges           = [""]
        destination_port_range       = "*"
        destination_port_ranges      = [""]
        source_address_prefix        = "VirtualNetwork"
        source_address_prefixes      = [""]
        destination_address_prefix   = "Internet"
        destination_address_prefixes = [""]
      }
    ]
  }

  # internet_ingress_sftp_subnet_nsg = {
  #   rg_key = "internet_ingress_egress_rg"
  #   name   = "internet_ingress_egress_sftp_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "AllowFirewallSftpInbound"
  #       priority                     = 100
  #       direction                    = "Inbound"
  #       access                       = "Allow"
  #       protocol                     = "*"
  #       source_port_range            = "22"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "22"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "100.0.0.64/27"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "AllowFirewallSftpOutbound"
  #       priority                     = 100
  #       direction                    = "Outbound"
  #       access                       = "Allow"
  #       protocol                     = "*"
  #       source_port_range            = "22"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "22"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "100.0.0.64/27"
  #       destination_address_prefixes = [""]
  #     },
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # intranet_ingress_egress_sftp_subnet_nsg = {
  #   rg_key = "intranet_ingress_egress_rg"
  #   name   = "intranet_ingress_egress_sftp_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "AllowFirewallSftpInbound"
  #       priority                     = 100
  #       direction                    = "Inbound"
  #       access                       = "Allow"
  #       protocol                     = "*"
  #       source_port_range            = "22"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "22"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "10.0.0.64/27"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "AllowFirewallSftpOutbound"
  #       priority                     = 100
  #       direction                    = "Outbound"
  #       access                       = "Allow"
  #       protocol                     = "*"
  #       source_port_range            = "22"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "22"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "10.0.0.64/27"
  #       destination_address_prefixes = [""]
  #     },
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_bastion_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_bastion_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_ad_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_ad_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_patch_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_patch_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_dns_inbound_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_dns_inbound_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_dns_outbound_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_dns_outbound_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }

  # mgmt_devops_subnet_nsg = {
  #   rg_key = "mgmt_rg"
  #   name   = "mgmt_devops_subnet_nsg"
  #   tags   = {}
  #   security_rules = [
  #     # inbound
  #     {
  #       name                         = "DenyInternetInbound"
  #       priority                     = 4096
  #       direction                    = "Inbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "Internet"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "VirtualNetwork"
  #       destination_address_prefixes = [""]
  #     },
  #     # outbound
  #     {
  #       name                         = "DenyInternetOutbound"
  #       priority                     = 4096
  #       direction                    = "Outbound"
  #       access                       = "Deny"
  #       protocol                     = "*"
  #       source_port_range            = "*"
  #       source_port_ranges           = [""]
  #       destination_port_range       = "*"
  #       destination_port_ranges      = [""]
  #       source_address_prefix        = "VirtualNetwork"
  #       source_address_prefixes      = [""]
  #       destination_address_prefix   = "Internet"
  #       destination_address_prefixes = [""]
  #     }
  #   ]
  # }
}

# Network security group associations
network_security_group_associations = {
  # internet_ingress_egress_sftp_subnet_nsg_assoc = {
  #   nsg_key    = "internet_ingress_egress_sftp_subnet_nsg"
  #   subnet_key = "internet_ingress_egress_sftp_subnet"
  # }

  # intranet_ingress_egress_sftp_subnet_nsg_assoc = {
  #   nsg_key    = "intranet_ingress_egress_sftp_subnet_nsg"
  #   subnet_key = "intranet_ingress_egress_sftp_subnet"
  # }

  # mgmt_bastion_subnet_nsg_assoc = {
  #   nsg_key    = "mgmt_bastion_subnet_nsg"
  #   subnet_key = "mgmt_bastion_subnet"
  # }

  # mgmt_ad_subnet_nsg_assoc = {
  #   nsg_key    = "mgmt_ad_subnet_nsg"
  #   subnet_key = "mgmt_ad_subnet"
  # }

  # mgmt_patch_subnet_nsg_assoc = {
  #   nsg_key    = "mgmt_patch_subnet_nsg"
  #   subnet_key = "mgmt_patch_subnet"
  # }

  # mgmt_dns_inbound_subnet_nsg_assoc = {
  #   nsg_key    = "mgmt_dns_inbound_subnet_nsg"
  #   subnet_key = "mgmt_dns_inbound_subnet"
  # }

  # mgmt_dns_outbound_subnet_nsg_assoc = {
  #   nsg_key    = "mgmt_dns_outbound_subnet_nsg"
  #   subnet_key = "mgmt_dns_outbound_subnet"
  # }
}

##########################################
# Firewall module
##########################################

# Firewall public ips
firewall_public_ips = {
  # # internet ingress firewall public ip
  # internet_ingress_firewall_public_ip = {
  #   rg_key            = "internet_ingress_rg"
  #   name              = "internet_ingress_firewall_ip"
  #   allocation_method = "Static"
  #   sku               = "Standard"
  # }

  # # internet egress firewall public ip
  # internet_egress_firewall_public_ip = {
  #   rg_key            = "internet_egress_rg"
  #   name              = "internet_egress_firewall_ip"
  #   allocation_method = "Static"
  #   sku               = "Standard"
  # }

  # # intranet ingress firewall public ip
  # intranet_ingress_firewall_public_ip = {
  #   rg_key            = "intranet_ingress_rg"
  #   name              = "intranet_ingress_firewall_ip"
  #   allocation_method = "Static"
  #   sku               = "Standard"
  # }

  # # intranet egress firewall public ip
  # intranet_egress_firewall_public_ip = {
  #   rg_key            = "intranet_egress_rg"
  #   name              = "intranet_egress_firewall_ip"
  #   allocation_method = "Static"
  #   sku               = "Standard"
  # }
}

# Firewall
firewalls = {
  # # internet ingress firewall
  # internet_ingress_firewall = {
  #   rg_key   = "internet_ingress_rg"
  #   name     = "internet_ingress_firewall"
  #   sku_name = "AZFW_VNet"
  #   sku_tier = "Standard"

  #   # enable DNS proxy by setting custom DNS to private DNS resolver inbound subnet
  #   #dns_servers = ["100.0.1.68"]

  #   ip_configurations = [
  #     {
  #       subnet_key     = "internet_ingress_firewall_subnet"
  #       public_ip_key  = "internet_ingress_firewall_public_ip"
  #       ip_config_name = "internet_ingress_firewall_ip_config"
  #     }
  #   ]
  #   virtual_hubs = []
  # }

  # # internet egress firewall
  # internet_egress_firewall = {
  #   rg_key   = "internet_egress_rg"
  #   name     = "internet_egress_firewall"
  #   sku_name = "AZFW_VNet"
  #   sku_tier = "Standard"

  #   # enable DNS proxy by setting custom DNS to private DNS resolver inbound subnet
  #   #dns_servers = ["100.0.1.68"]

  #   ip_configurations = [
  #     {
  #       subnet_key     = "internet_egress_firewall_subnet"
  #       public_ip_key  = "internet_egress_firewall_public_ip"
  #       ip_config_name = "internet_egress_firewall_ip_config"
  #     }
  #   ]
  #   virtual_hubs = []
  # }

  # # intranet ingress egress firewall
  # intranet_ingress_firewall = {
  #   rg_key   = "intranet_ingress_rg"
  #   name     = "intranet_ingress_firewall"
  #   sku_name = "AZFW_VNet"
  #   sku_tier = "Standard"

  #   # enable DNS proxy by setting custom DNS to private DNS resolver inbound subnet
  #   #dns_servers = ["100.0.1.68"]

  #   ip_configurations = [
  #     {
  #       subnet_key     = "intranet_ingress_firewall_subnet"
  #       public_ip_key  = "intranet_ingress_firewall_public_ip"
  #       ip_config_name = "intranet_ingress_firewall_ip_config"
  #     }
  #   ]
  #   virtual_hubs = []
  # }

  # # intranet egress egress firewall
  # intranet_egress_firewall = {
  #   rg_key   = "intranet_egress_rg"
  #   name     = "intranet_egress_firewall"
  #   sku_name = "AZFW_VNet"
  #   sku_tier = "Standard"

  #   # enable DNS proxy by setting custom DNS to private DNS resolver inbound subnet
  #   #dns_servers = ["100.0.1.68"]

  #   ip_configurations = [
  #     {
  #       subnet_key     = "intranet_egress_firewall_subnet"
  #       public_ip_key  = "intranet_egress_firewall_public_ip"
  #       ip_config_name = "intranet_egress_firewall_ip_config"
  #     }
  #   ]
  #   virtual_hubs = []
  # }
}

firewall_app_rule_collections = {
  # internet_egress_firewall_aks_app_rules_collection = {
  #   rg_key       = "internet_egress_rg"
  #   firewall_key = "internet_egress_firewall"
  #   name         = "internet-aks-app-rules"
  #   priority     = "100"
  #   action       = "Allow"
  #   rules = [
  #     {
  #       name             = "AllowMicrosoftFqdns"
  #       source_addresses = ["*"]
  #       fqdn_tags        = null
  #       target_fqdns = [
  #         "*.cdn.mscr.io",
  #         "mcr.microsoft.com",
  #         "*.data.mcr.microsoft.com",
  #         "management.azure.com",
  #         "login.microsoftonline.com",
  #         "acs-mirror.azureedge.net",
  #         "dc.services.visualstudio.com",
  #         "*.opinsights.azure.com",
  #         "*.oms.opinsights.azure.com",
  #         "*.microsoftonline.com",
  #         "*.monitoring.azure.com"
  #       ]
  #       protocols = [
  #         {
  #           port = "80"
  #           type = "Http"
  #         },
  #         {
  #           port = "443"
  #           type = "Https"
  #         }
  #       ]
  #     },
  #     {
  #       name             = "AllowFqdnsForOsUpdates"
  #       source_addresses = ["*"]
  #       fqdn_tags        = null
  #       target_fqdns = [
  #         "security.ubuntu.com",
  #         "ntp.ubuntu.com",
  #         "packages.microsoft.com"
  #       ]
  #       protocols = [
  #         {
  #           port = "80"
  #           type = "Http"
  #         },
  #         {
  #           port = "443"
  #           type = "Https"
  #         }
  #       ]
  #     },
  #     {
  #       name             = "ServiceTag"
  #       source_addresses = ["*"]
  #       fqdn_tags = [
  #         "AzureKubernetesService"
  #       ]
  #       target_fqdns = null
  #       protocols    = []
  #     }
  #   ]
  # }

  # intranet_egress_firewall_aks_app_rules_collection = {
  #   rg_key       = "intranet_egress_rg"
  #   firewall_key = "intranet_egress_firewall"
  #   name         = "intranet-aks-app-rules"
  #   priority     = "200"
  #   action       = "Allow"
  #   rules = [
  #     {
  #       name             = "AllowMicrosoftFqdns"
  #       source_addresses = ["*"]
  #       fqdn_tags        = null
  #       target_fqdns = [
  #         "*.cdn.mscr.io",
  #         "mcr.microsoft.com",
  #         "*.data.mcr.microsoft.com",
  #         "management.azure.com",
  #         "login.microsoftonline.com",
  #         "acs-mirror.azureedge.net",
  #         "dc.services.visualstudio.com",
  #         "*.opinsights.azure.com",
  #         "*.oms.opinsights.azure.com",
  #         "*.microsoftonline.com",
  #         "*.monitoring.azure.com"
  #       ]
  #       protocols = [
  #         {
  #           port = "80"
  #           type = "Http"
  #         },
  #         {
  #           port = "443"
  #           type = "Https"
  #         }
  #       ]
  #     },
  #     {
  #       name             = "AllowFqdnsForOsUpdates"
  #       source_addresses = ["*"]
  #       fqdn_tags        = null
  #       target_fqdns = [
  #         "security.ubuntu.com",
  #         "ntp.ubuntu.com",
  #         "packages.microsoft.com"
  #       ]
  #       protocols = [
  #         {
  #           port = "80"
  #           type = "Http"
  #         },
  #         {
  #           port = "443"
  #           type = "Https"
  #         }
  #       ]
  #     },
  #     {
  #       name             = "ServiceTag"
  #       source_addresses = ["*"]
  #       fqdn_tags = [
  #         "AzureKubernetesService"
  #       ]
  #       target_fqdns = null
  #       protocols    = []
  #     }
  #   ]
  # }
}

firewall_network_rule_collections = {
  # internet_egress_firewall_aks_network_rules_collection = {
  #   rg_key       = "internet_egress_rg"
  #   firewall_key = "internet_egress_firewall"
  #   name         = "aks-network-rules"
  #   priority     = "100"
  #   action       = "Allow"
  #   rules = [
  #     {
  #       name                  = "apiudp"
  #       source_addresses      = ["*"]
  #       destination_addresses = ["AzureCloud.SoutheastAsia"]
  #       destination_ports     = ["1194"]
  #       protocols             = ["UDP"]
  #     },
  #     {
  #       name                  = "aksfwnr"
  #       source_addresses      = ["*"]
  #       destination_addresses = ["AzureCloud.SoutheastAsia"]
  #       destination_ports     = ["9000"]
  #       protocols             = ["TCP"]
  #     },
  #     {
  #       name                  = "DNS"
  #       source_addresses      = ["*"]
  #       destination_ports     = ["53"]
  #       destination_addresses = ["*"]
  #       protocols             = ["UDP"]
  #     },
  #     {
  #       name              = "ServiceTags"
  #       source_addresses  = ["*"]
  #       destination_ports = ["*"]
  #       destination_addresses = [
  #         "AzureContainerRegistry",
  #         "MicrosoftContainerRegistry",
  #         "AzureActiveDirectory",
  #       ]
  #       protocols = ["Any"]
  #     },
  #     {
  #       name                  = "Time"
  #       source_addresses      = ["*"]
  #       destination_ports     = ["123"]
  #       destination_addresses = ["*"]
  #       protocols             = ["UDP"]
  #     }
  #   ]
  # }

  # intranet_egress_firewall_aks_network_rules_collection = {
  #   rg_key       = "intranet_egress_rg"
  #   firewall_key = "intranet_egress_firewall"
  #   name         = "aks-network-rules"
  #   priority     = "200"
  #   action       = "Allow"
  #   rules = [
  #     {
  #       name                  = "apiudp"
  #       source_addresses      = ["*"]
  #       destination_addresses = ["AzureCloud.SoutheastAsia"]
  #       destination_ports     = ["1194"]
  #       protocols             = ["UDP"]
  #     },
  #     {
  #       name                  = "aksfwnr"
  #       source_addresses      = ["*"]
  #       destination_addresses = ["AzureCloud.SoutheastAsia"]
  #       destination_ports     = ["9000"]
  #       protocols             = ["TCP"]
  #     },
  #     {
  #       name                  = "DNS"
  #       source_addresses      = ["*"]
  #       destination_ports     = ["53"]
  #       destination_addresses = ["*"]
  #       protocols             = ["UDP"]
  #     },
  #     {
  #       name              = "ServiceTags"
  #       source_addresses  = ["*"]
  #       destination_ports = ["*"]
  #       destination_addresses = [
  #         "AzureContainerRegistry",
  #         "MicrosoftContainerRegistry",
  #         "AzureActiveDirectory",
  #       ]
  #       protocols = ["Any"]
  #     },
  #     {
  #       name                  = "Time"
  #       source_addresses      = ["*"]
  #       destination_ports     = ["123"]
  #       destination_addresses = ["*"]
  #       protocols             = ["UDP"]
  #     }
  #   ]
  # }
}

##########################################
# Storage account module
##########################################

storage_accounts = {
  internet_ingress_sftp_storage_account = {
    rg_key                        = "internet_ingress_rg"
    name                          = "internetsftpsa"
    account_tier                  = "Standard"
    account_replication_type      = "LRS"
    public_network_access_enabled = false
    is_hns_enabled                = true
    sftp_enabled                  = true
    identity_type                 = "SystemAssigned"
  }

  intranet_ingress_sftp_storage_account = {
    rg_key                        = "intranet_ingress_rg"
    name                          = "intranetsftpsa"
    account_tier                  = "Standard"
    account_replication_type      = "LRS"
    public_network_access_enabled = false
    is_hns_enabled                = true
    sftp_enabled                  = true
    identity_type                 = "SystemAssigned"
  }
}

storage_account_private_endpoints = {
  internet_ingress_sftp_storage_account_private_endpoint = {
    rg_key     = "internet_ingress_rg"
    subnet_key = "internet_ingress_sftp_subnet"
    name       = "internet_ingress_sftp_storage_account_private_endpoint"
    private_service_connections = [
      {
        storage_account_key  = "internet_ingress_sftp_storage_account"
        name                 = "internet_ingress_sftp_storage_account_psc"
        is_manual_connection = false
        subresource_names    = ["blob"]
      }
    ]
  }

  intranet_ingress_sftp_storage_account_private_endpoint = {
    rg_key     = "intranet_ingress_rg"
    subnet_key = "intranet_ingress_sftp_subnet"
    name       = "intranet_ingress_sftp_storage_account_private_endpoint"
    private_service_connections = [
      {
        storage_account_key  = "intranet_ingress_sftp_storage_account"
        name                 = "intranet_ingress_sftp_storage_account_psc"
        is_manual_connection = false
        subresource_names    = ["blob"]
      }
    ]
  }
}

storage_account_private_endpoint_private_dns_zone_a_records = {
  internet_ingress_sftp_storage_account_private_dns_zone_a_records = {
    private_dns_zone_key = "privatelink_blob_core_windows_net_zone"
    private_endpoint_key = "internet_ingress_sftp_storage_account_private_endpoint"
    rg_key               = "mgmt_rg"
    storage_account_key  = "internet_ingress_sftp_storage_account"
    ttl                  = 3600
  }

  intranet_ingress_sftp_storage_account_private_dns_zone_a_records = {
    private_dns_zone_key = "privatelink_blob_core_windows_net_zone"
    private_endpoint_key = "intranet_ingress_sftp_storage_account_private_endpoint"
    rg_key               = "mgmt_rg"
    storage_account_key  = "intranet_ingress_sftp_storage_account"
    ttl                  = 3600
  }
}


##########################################
# Bastion module
##########################################

# Bastion public ips
bastion_public_ips = {
  mgmt_bastion_public_ip = {
    rg_key            = "mgmt_rg"
    name              = "mgmt_bastion_ip"
    allocation_method = "Static"
    sku               = "Standard"
  }
}

# Bastion
bastions = {
  mgmt_bastion = {
    rg_key         = "mgmt_rg"
    subnet_key     = "mgmt_bastion_subnet"
    public_ip_key  = "mgmt_bastion_public_ip"
    name           = "mgmt_bastion"
    ip_config_name = "mgmt_bastiion_ip_config"
  }
}

##########################################
# Private DNS zone module
##########################################

private_dns_zones = {
  privatelink_blob_core_windows_net_zone = {
    rg_key = "mgmt_rg"
    name   = "privatelink.blob.core.windows.net"
  }
}

private_dns_zone_vnet_links = {
  blob_core_windows_net_zone_vnet_link = {
    rg_key               = "mgmt_rg"
    private_dns_zone_key = "privatelink_blob_core_windows_net_zone"
    vnet_key             = "mgmt_vnet"
    name                 = "mgmt_vnet_private_dns_zone_link"
  }
}

##########################################
# Private DNS resolver module
##########################################

private_dns_resolvers = {
  private_dns_resolver = {
    rg_key   = "dns_forwarding_rg"
    vnet_key = "dns_forwarding_vnet"
    name     = "private_dns_resolver"
  }
}

private_dns_resolvers_inbound_endpoints = {
  private_dns_resolver_inbound_endpoint = {
    private_dns_resolver_key     = "private_dns_resolver"
    subnet_key                   = "private_dns_resolver_inbound_subnet"
    name                         = "private_dns_resolver_inbound_endpoint"
    private_ip_allocation_method = "Dynamic"
  }
}